<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layouts/head', { title: 'HATShop - About us' }) %>
</head>

<body>
  <%- include('../../layouts/header') %>

    <%- include('../../layouts/navbar', {isLoggedIn: isLoggedIn}) %>

      <!-- about_us -->
      <div class="container py-16 flex flex-col md:flex-row items-center">
        <!-- Text and Images List -->
        <div class="md:w-1/2 px-5">
          <h1 class="text-3xl font-semibold mb-4">
            Welcome to <span class="text-primary">HAT</span><span class="text-gray-800">Shop</span>!
          </h1>
          <p class="text-gray-600 leading-relaxed mb-4 text-justify">
            We are dedicated to offering you the best products with a focus on
            dependability, customer service, and uniqueness. Our journey began in
            2020, with the vision to provide quality fashion products accessible
            to everyone.
          </p>

          <!-- Images List -->
          <div class="flex space-x-2 mt-4">
            <img src="/public/assets/images/about_us/1.jpg" alt="Image 1"
              class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
              onclick="changeImage('/public/assets/images/about_us/1.jpg')" />
            <img src="/public/assets/images/about_us/2.jpg" alt="Image 2"
              class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
              onclick="changeImage('/public/assets/images/about_us/2.jpg')" />
            <img src="/public/assets/images/about_us/3.jpg" alt="Image 3"
              class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
              onclick="changeImage('/public/assets/images/about_us/3.jpg')" />
            <img src="/public/assets/images/about_us/4.jpg" alt="Image 4"
              class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
              onclick="changeImage('/public/assets/images/about_us/4.jpg')" />
            <img src="/public/assets/images/about_us/5.jpg" alt="Image 5"
              class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
              onclick="changeImage('/public/assets/images/about_us/5.jpg')" />
          </div>
          <p class="text-gray-500 pt-2" style="font-size: 11px">
            Click on image to enlarge.
          </p>
        </div>

        <!--Main Image -->
        <div class="md:w-1/2 px-5">
          <img id="mainImage" src="/public/assets/images/about_us/5.jpg" alt="About Us"
            class="w-full h-auto object-cover rounded-lg shadow-md" />
        </div>
      </div>

      <div class="container py-16 px-10 bg-gray-50 rounded-lg">
        <section class="mb-12">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">
            Company Overview
          </h2>
          <p class="text-gray-600 leading-relaxed">
            HATShop is your go-to destination for stylish home decor that
            transforms any space into a warm and inviting environment. Our curated
            collection features high-quality furniture, textiles, and unique
            accents, perfect for personalizing your home.
          </p>
        </section>

        <section class="mb-12">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">Mission</h2>
          <p class="text-gray-600 leading-relaxed">
            At HATShop, our mission is to provide exceptional home decor solutions
            that inspire creativity and comfort in every space. We aim to enhance
            the beauty of homes with carefully selected products that cater to
            diverse styles and preferences.
          </p>
        </section>

        <section class="mb-12">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">Vision</h2>
          <p class="text-gray-600 leading-relaxed">
            Our vision is to be a leading home decor retailer recognized for our
            unique offerings, outstanding customer service, and commitment to
            quality. We strive to create a community where every individual can
            find decor that truly reflects their style and personality.
          </p>
        </section>

        <section>
          <h2 class="text-xl font-semibold mb-6 text-gray-800">Team Members</h2>
          <div class="flex justify-evenly gap-6">
            <div class="flex flex-col items-center">
              <img src="/public/assets/images/team_members/21120148_image.jpg" alt="Tran Tien"
                class="w-40 h-40 rounded-full object-cover shadow-lg transform transition duration-300 hover:scale-125" />
              <p class="mt-2 text-center text-gray-700">Tran Tien</p>
            </div>
            <div class="flex flex-col items-center">
              <img src="/public/assets/images/team_members/21120192_image.jpg" alt="Thien An"
                class="w-40 h-40 rounded-full object-cover shadow-lg transform transition duration-300 hover:scale-125" />
              <p class="mt-2 text-center text-gray-700">Thien An</p>
            </div>
            <div class="flex flex-col items-center">
              <img src="/public/assets/images/team_members/21120065_image.jpg" alt="Mai Hanh"
                class="w-40 h-40 rounded-full object-cover shadow-lg transform transition duration-300 hover:scale-125" />
              <p class="mt-2 text-center text-gray-700">Mai Hanh</p>
            </div>
          </div>
        </section>
      </div>

      <%- include('../../layouts/footer') %>
      <script src="/public/js/AboutUs.js"></script>
</body>

</html>