<div class="space-y-4 text-gray-800">
    <!-- Name -->
    <div>
        <label class="font-bold">Name:</label>
        <input type="text" id="userName" class="p-3 border border-gray-300 rounded w-3/4" placeholder="Your Name"
            value="<%= user.name %>" required />
    </div>
    <!-- Avatar Upload -->
    <div class="flex items-center">
        <label class="font-bold mb-2 mr-4">Avatar:</label>
        <div class="relative w-32 h-32 border border-gray-300 rounded overflow-hidden">
            <input type="file" id="avatar" class="absolute inset-0 opacity-0 cursor-pointer" accept="image/*" />
            <label for="avatar" class="absolute inset-0 flex items-center justify-center cursor-pointer bg-gray-200 text-gray-700">Choose File</label>
        </div>
    </div>
        <!-- Submit Button -->
        <div>
            <button class="bg-primary w-2/5 border border-primary text-white px-8 py-3 font-medium 
    rounded-md hover:bg-transparent hover:text-primary" id="apply-btn" onclick="edit()">
                Apply
            </button>
            <button type="cancel" class="bg-white w-2/5 border border-primary text-primary px-8 py-3 font-medium 
      rounded-md hover:bg-transparent hover:text-primary" id="cancel-btn">
                Cancel
            </button>
        </div>
    </div>