<!-- navbar -->
<nav class="bg-gray-800">
  <div class="container flex items-center justify-between lg:py-4">
    <div class="w-16 py-4 bg-primary lg:hidden flex justify-center cursor-pointer relative" id="menu-toggle">
      <span class="text-white">
        <i class="fa-solid fa-bars"></i>
      </span>
      <div id="mobile-menu"
        class="absolute w-32 left-0 top-full bg-gray-800 z-10 divide-y divide-gray-300 divide-dashed transition duration-300 hidden">
        <a href="/admin/users" class="block px-4 py-4 text-gray-200 hover:bg-primary hover:text-gray-200">Users</a>
        <a href="/admin/admin_shop" class="block px-4 py-4 text-gray-200 hover:bg-primary hover:text-gray-200">Shop</a>
      </div>
    </div>
    <div class="flex items-center justify-end lg:justify-between flex-grow">
      <div class="hidden lg:flex items-center space-x-6 capitalize">
        <a href="/admin/users" class="text-gray-200 hover:text-white transition">Users</a>
        <a href="/admin/admin_shop" class="text-gray-200 hover:text-white transition">Shop</a>
      </div>
      <div id="auth-links">
        <% if(!isLoggedIn) { %>
          <a href="/login" class="text-gray-200 hover:text-white transition">Login</a>
          <a href="/register" class="text-gray-200 hover:text-white transition">/Register</a>
          <% } else { %>
            <a href="/logout" class="text-gray-200 hover:text-white transition">Logout</a>
            <% } %>
      </div>
    </div>
</nav>
<!-- ./navbar -->