<!-- footer -->
<footer class="bg-gray-50 pt-10 pb-8 border-t border-gray-200 mt-20">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
            <!-- Brand Link -->
            <div>
                <a class="font-bold text-xl" href="/">
                    <span class="text-primary">HAT</span><span class="text-gray-800">Shop</span>
                </a>
                <p class="text-gray-500 mt-2">
                    Our curated collection features high-quality furniture, textiles,
                    and unique accents, perfect for personalizing your home.
                </p>
            </div>
            <!-- Stay Connected Section -->
            <div class="space-y-4">
                <h2 class="text-lg font-semibold text-gray-700">Stay Connected:</h2>
                <div class="flex space-x-4">
                    <a href="#" class="text-gray-500 hover:text-gray-700"><i
                            class="fa-brands fa-facebook-square"></i></a>
                    <a href="#" class="text-gray-500 hover:text-gray-700"><i
                            class="fa-brands fa-instagram-square"></i></a>
                    <a href="#" class="text-gray-500 hover:text-gray-700"><i
                            class="fa-brands fa-twitter-square"></i></a>
                </div>
            </div>
            <!-- Quick Links Section -->
            <div class="space-y-4">
                <h2 class="text-lg font-semibold text-gray-700">Quick Links:</h2>
                <ul class="space-y-2">
                    <li>
                        <a href="/" class="text-gray-500 hover:text-gray-700">Home</a>
                    </li>
                    <li>
                        <a href="/shop" class="text-gray-500 hover:text-gray-700">Shop</a>
                    </li>
                    <li>
                        <a href="/about_us" class="text-gray-500 hover:text-gray-700">About Us</a>
                    </li>
                    <li>
                        <a href="/contact_us" class="text-gray-500 hover:text-gray-700">Contact Us</a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-500 hover:text-gray-700">Privacy Policy</a>
                    </li>
                </ul>
            </div>

            <!-- Contact Us Section -->
            <div class="space-y-4">
                <h2 class="text-lg font-semibold text-gray-700">Contact Us:</h2>

                <div class="flex items-center text-gray-500">
                    <p>
                        <i class="fa-solid fa-envelope mr-2"></i>
                        <a href="mailto:hat.shop@gmail.com" class="hatshopEmail text-gray-600 hover:underline"
                            id="hatshopEmail">hat.shop@gmail.com</a>
                    </p>
                </div>

                <div class="flex items-center text-gray-500">
                    <p>
                        <i class="fa-solid fa-phone mr-2"></i>
                        <span class="hatshopPhoneNumber text-gray-600"></span>
                    </p>
                </div>

                <div class="flex items-center text-gray-500">
                    <p>
                        <i class="fa-solid fa-map-marker-alt mr-2"></i>
                        <span class="hatshopAddress text-gray-600">227 Nguyen Van Cu, Ward 4, District 5, Ho Chi Minh
                            City,
                            Vietnam</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ./footer -->

<!-- copyright -->
<div class="bg-gray-800 py-4">
    <div class="container flex items-center justify-between">
        <p class="text-white">&copy; 2024 HATShop. All rights reserved</p>
        <div>
            <img src="/public/assets/images/methods.png" alt="methods" class="h-5" />
        </div>
    </div>
</div>
<!-- ./copyright -->

<!-- script -->
<script type="module" src="/public/js/HATShopInfoLoader.js"></script>
 <!-- script -->