<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layouts/head', { title: 'HATShop - Account' }) %>
</head>

<body>
  <%- include('../../layouts/header') %>

    <%- include('../../layouts/navbar', {isLoggedIn: isLoggedIn}) %>

      <!-- breadcrumb -->
      <div class="container py-4 flex items-center gap-3">
        <a href="/" class="text-primary text-base">
          <i class="fa-solid fa-house"></i>
        </a>
        <span class="text-sm text-gray-400">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p class="text-gray-600 font-medium">Account</p>
      </div>
      <!-- ./breadcrumb -->

      <!-- account wrapper -->
      <div class="container grid grid-cols-11 items-start gap-4 pt-4 pb-16">
        <!-- sidebar -->
        <div class="col-span-5 lg:col-span-3">
          <div class="px-4 py-3 shadow flex items-center gap-4">
            <div class="flex-shrink-0">
              <img src="/public/assets/images/user/default-avatar.jpg" alt="profile"
                class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover" />
            </div>
            <div class="flex-grow">
              <p class="text-gray-600">Hello,</p>
              <h4 class="text-gray-800 font-medium">John Doe</h4>
            </div>
          </div>

          <div class="mt-4 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
            <div class="space-y-1 lg:pl-8">
              <a href="#" class="relative text-primary block font-medium capitalize transition">
                <span class="hidden lg:block absolute -left-8 top-0 text-base">
                  <i class="fa-regular fa-address-card"></i>
                </span>
                Profile information
              </a>
              <a href="#" class="relative hover:text-primary block capitalize transition">
                Change password
              </a>
            </div>

            <div class="space-y-2 lg:pl-8 pt-4">
              <a href="#" class="relative hover:text-primary block font-medium capitalize transition">
                <span class="hidden lg:block absolute -left-8 top-0 text-base">
                  <i class="fa-solid fa-box-archive"></i>
                </span>
                Order history
              </a>
            </div>

            <div class="space-y-2 lg:pl-8 pt-4">
              <a href="/cart" class="relative hover:text-primary block font-medium capitalize transition">
                <span class="hidden lg:block absolute -left-8 top-0 text-base">
                  <i class="fa-solid fa-bag-shopping"></i>
                </span>
                My cart
              </a>
            </div>

            <div class="space-y-2 lg:pl-8 pt-4">
              <a href="/logout" class="relative hover:text-primary block font-medium capitalize transition">
                <span class="hidden lg:block absolute -left-8 top-0 text-base">
                  <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                Logout
              </a>
            </div>
          </div>
        </div>
        <!-- ./sidebar -->

        <!-- info -->
        <div class="shadow rounded bg-white px-4 pt-6 pb-8 col-span-6 lg:col-span-8">
          <div class="flex items-center justify-between mb-4">
            <h3 class="font-medium text-gray-800 text-lg">Personal Profile</h3>
            <a href="#" class="text-primary">Edit</a>
          </div>
          <div class="space-y-1">
            <h4 class="text-gray-700 font-medium">John Doe</h4>
            <p class="text-gray-800">example@mail.com</p>
            <p class="text-gray-800">0811 8877 988</p>
          </div>
        </div>
        <!-- ./info -->
      </div>
      <!-- ./account wrapper -->

      <%- include('../../layouts/footer') %>
</body>

</html>